@import "../scss/variables.module.scss";

.grid {
    display: grid;
    grid-template-columns: repeat(51, 1fr);
    width: 100%;
}

.headingX{
  display: block;
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  text-align: center;
}

.headingY{
  display: block;
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  text-align: center;
  margin-right: 20px;
}

.square {
  display: block;
  height: 100%;
  width: 100%;
  background-color: $transparentGrey;
  border: 1px solid black;
  text-align: center;
}