$headerHeight: 1000px;
$footerHeight: 170px;
$color: skyblue;
$primaryColor: red;
$transparent: rgba(0, 0, 0, 0);
$transparentPartial: rgba(0, 0, 0, 0);
$transparentGrey: rgba(171, 189, 206, 0.6);

:export {
    color: $color;
    primary-color: $primaryColor;
    footer-height: $footerHeight;
    transparent: $transparent;
    transparentGrey: $transparentGrey;
    transparentPartial: $transparentPartial;
}